html,
body {
  margin: 0;
  font-family: myriad-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  background-image: url("images/texture1.jpg");
  background-attachment: fixed;
}

h1,
h2 {
  font-family: abril-display, serif;
  font-weight: 400;
  font-style: normal;
  margin: 10px 0;
}

.transparentwhite {
  background-color: rgba(255, 255, 255, 0.663);
}

button {
  box-shadow: 0px 3px 6px rgb(184, 184, 184);
  background-color: white;
  border: none;
  width: fit-content;
  padding: 5px 10px;
  margin: 10px 0;
}

button a {
  text-decoration: none;
  color: black;
}

button:hover {
  background-color: #fae3dd;
}

/* Navigation */

header {
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  width: 100vw;
  position: fixed;
  height: 70px;
  justify-self: center;
  align-items: center;
  z-index: 9;
  background-color: #f6e8dd;
  color: black;
  /*box-shadow: 0px 3px 6px rgb(184, 184, 184);*/
}

header a {
  display: flex;
  text-decoration: none;
  color: black;
}

.logo {
  background-image: url("images/homedecorlogo.svg");
  width: 10%;
  height: 80%;
  background-repeat: no-repeat;
  margin: 0 2vw;
}

#hamburgermenu,
.formimage {
  display: none;
}

.spancontainer {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  height: 25px;
  width: 30px;
  margin: 0;
  padding: 0;
  top: 20px;
  right: 5vw;
  z-index: 10;
}

span {
  height: 2pt;
  width: 100%;
  background-color: black;
  position: relative;
  display: inline-flex;
}

button span {
  background-color: transparent;
}

nav {
  background-color: #f6e8dd;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  left: 101%;
  top: 0;
  font-size: 18px;
}
nav ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}

nav ul li {
  list-style: none;
  text-align: center;
}
nav ul li a {
  display: block;
}

#hamburgermenu:checked ~ nav {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  font-size: 18px;
}

#hamburgermenu:checked ~ #hamburgerlabel .spancontainer .span2 {
  width: 0;
}

#hamburgermenu:checked ~ #hamburgerlabel .spancontainer .span1 {
  transform: rotate(-45deg);
  top: 11px;
}

.span1 {
  top: 0;
}
.span3 {
  bottom: 0;
}

#hamburgermenu:checked ~ #hamburgerlabel .spancontainer .span3 {
  transform: rotate(45deg);
  bottom: 11px;
}

/* Footer */

footer {
  margin: 0;
  padding: 10px;
  display: grid;
  grid-template-columns: 2 (20px, 1fr);
  background-color: #f6e8dd;
}
footer a {
  font-size: 10px;
  margin: 5px;
  color: black;
}

.item1 {
  grid-column: 1;
  grid-row: 1;
}

.item2 {
  grid-column: 1;
  grid-row: 2;
}

.item3 {
  grid-column: 2;
  grid-row: 1;
  text-align: right;
}

.item4 {
  grid-column: 2;
  grid-row: 2;
  text-align: right;
}

.smoothetransition,
.hoverscale {
  transition: all, 0.3s;
}
.hoverscale:hover {
  transform: scale(1.05);
  transition: all, 0.5s;
  cursor: pointer;
}

/* Above fold*/

.container {
  width: 80vw;
  margin: auto;
}

.abovefold {
  display: grid;
  grid-template-columns: 37.5vw 37.5vw;
  grid-template-rows: 20px;
  grid-gap: 5vw;
  margin-top: 70px;
  padding: 40px 0;
  height: auto;
}

.calltoaction {
  padding: 20px;
  text-align: center;
  grid-column: 1 / span 2;
  grid-row: 1 / span 4;
}

.calltoaction h1 {
  font-size: 28px;
}

.abovefold .image {
  background-image: url("images/landingpagesmall.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-column: 2;
  grid-row: 5 / span 20;
}

.imageDesktop {
  background-image: url("images/diningtable.jpg");
  background-size: cover;
  grid-column: 1;
  grid-row: 7 / span 20;
}

/* Topp products */

.toppproducts {
  display: grid;
  grid-gap: 40px;
  padding: 40px 0;
  background-color: #f6e8ddbc;
  text-align: center;
}

.productcontainer {
  height: 440px;
}

.productcontainer h2 {
  margin-top: 20px;
}

.productcontainer img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.interview {
  padding: 40px 10%;
  margin: 0;
}
.interview p {
  font-style: italic;
}

.interview img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

/* Media Query for tablet and bigger screens*/
@media only screen and (min-width: 1024px) {
  /*Navigation*/

  .logo {
    z-index: 200;
    position: absolute;
  }

  #hamburgermenu,
  #hamburgerlabel {
    display: none;
  }

  .navigation {
    width: 100%;
    display: flex;
    align-content: center;
    margin: 0 5vw;
  }

  nav {
    position: relative;
    height: 70px;
    left: 0;
    background-color: transparent;
  }
  nav ul {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }

  nav ul li {
    align-self: center;
  }

  nav a {
    border-bottom: transparent 2px solid;
  }

  nav a:hover,
  .underline {
    border-bottom: black 2px solid;
  }

  /* Above fold*/

  .abovefold {
    height: 70vh;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 15px;
    grid-gap: 40px;
  }

  .calltoaction {
    grid-column: 1;
    grid-row: 1 / span 6;
  }

  .abovefold .image {
    background-image: url("images/landingpagebig.jpg");
    height: auto;
    grid-column: 2;
    grid-row: 2 / span 10;
  }

  .imageDesktop {
    background-image: url("images/diningtable.jpg");
    background-size: cover;
    grid-column: 1;
    grid-row: 7 / span 6;
  }

  /* topp products */

  .toppproducts {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
    padding: 40px 10%;
  }

  .toppproducts h2 {
    grid-column: 1/4;
    grid-row: 1;
    margin: 0;
  }
  .productcontainer {
    width: 100%;
  }

  .interview {
    padding: 40px 25%;
  }
  .interview img {
    height: 300px;
  }
}
